.user-ticket-avatar{
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;

}

.user-ticket{
  background-color: rgb(249, 222, 187);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin: 16px auto;
  text-align: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}